.navbar2Container {
    background-color: #ff2b85;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.navbar2 {
    width: 100%;
    max-width: 1024px;
    display: flex;
    justify-content: center;
    color: white !important;
    padding: 8px 0px;
}

.inputContainer button {
    padding: 6px 10px;
    border-radius: 7px 0px 0px 7px;
    border: 1px solid;
    background-color: white;
    cursor: pointer;
    font-weight: bold;
}

.inputContainer button:hover {
    background-color: rgb(228, 227, 227);
}

.inputContainer input {
    padding: 6px 10px;
    border-radius: 0px 5px 5px 0px;
    border: none;
    width: 100vw;
    max-width: 280px;
}

.inputContainer input:focus{
    border: 1px solid;
    outline: none;
}